.NotFound-container {
  background-color: #161625;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.NotFound-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #cbd5e1;
}
.NotFound-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #94a3b8;
}
.NotFound-button {
  background: #2563eb;
  border-radius: 12px;
  border: none;
  padding: 13px;
  color: #ffffff;
  font-family: Roboto;
}
